nvim.symconfig/spell/*.spl
nvim.symconfig/.netrwhist
nvim.symconfig/plugged/

# zsh
zsh/.*
zsh/cache/

# Local files
*.local*

# FZF
fzf/

# we want to ignore this because we only use this for fresh install
Brewfile.lock.json
