# Specify only the .vim files that need to be versioned
vim.*/*
!vim.*/autoload/
!vim.*/ftplugin/
!vim.*/ftdetect/
!vim.*/plugins.vim

# the same for nvim
nvim.*/*
!nvim.*/autoload/
!nvim.*/ftplugin/
!nvim.*/ftdetect/
!nvim.*/plugins.vim
!nvim.*/init.vim

# zsh
zsh/.*
zsh/cache/

# Local files
*.local*

# FZF
fzf/
