nvim.symconfig/spell/*.spl
nvim.symconfig/.netrwhist
nvim.symconfig/plugged/
nvim.symconfig/local.vim

# zsh
zsh/.*
zsh/cache/
# compiled zsh files
*.zwc

# Local files
*.local*

# FZF
fzf/

# we want to ignore this because we only use this for fresh install
Brewfile.lock.json

# git template stuff is generally only going to be company specific
git.symconfig/template
