"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Devin Lehmacher"
email = "lehmacdj@gmail.com"

[git]
private-commits = "private()"

[ui]
default-command = ["log", "-r", "default_command_log()"]
diff-editor = ":builtin"

[revsets]
simplify-parents = 'mutable()'

[aliases]
rebase-all = [
  "rebase",
  "--skip-emptied",
  "-s", "roots(trunk()..) & mutable() & ~saved()",
  "-d", "trunk()"
]
pull = ["util", "exec", "--", "bash", "-c", "jj git fetch && jj rebase-all && jj simplify-parents"]
push = ["git", "push", "--revisions", "bookmarks() & mutable() ~ conflicts()"]
sq = ["squash"]
pp = ["util", "exec", "--", "bash", "-c", "jj pull && jj push"]
tug = [
  "bookmark", "move",
  "--from",
  "heads(::push_point() & bookmarks())",
  "--to",
  "coalesce(push_point() & ~unfinished() & ~private(), push_point()- & ~private() & bookmarks()::)"
]
convert-to-colocated = ["util", "exec", "--", "jj-convert-to-colocated"]
track = ["bookmark", "track"]
untrack = ["bookmark", "untrack"]
rs = ["rebase", "-r", "staged()"]
# rebase staged to **t**runk and **t**ug
rst = ["util", "exec", "--", "bash", "-c", "jj rs -A 'local_trunk()' && jj tug"]
regen = ["util", "exec", "--", "jj-regen"]
nw = ["util", "exec", "--", "jj-new-workspace"]

# work things
submit = ["util", "exec", "--", "jj-submit"]
pre-commit = ["util", "exec", "--", "jj-pre-commit"]

[revset-aliases]
'local_trunk()' = 'coalesce(bookmarks("main"), bookmarks("master"))'
# generalized version of the default for `jj log` which at time of writing was:
# 'present(@) | ancestors(immutable_heads().., 2) | present(trunk())'
'summary(exclude)' = 'present(@) | ancestors(exclude.., 2) | conflicts() | present(trunk())'
# the log set I use for the ui.default-command, `jj log` gives me the original
# default and I use it a decent amount too
'default_command_log()' = 'summary(saved() | immutable_heads() | local_trunk()) ~ hidden()'
# we consider some changes saved to avoid rebasing them
'saved()' = "description(regex:'saved:.*')"
# a "mega merge" on top of which we base private development efforts
# I used "meta merge" originally because I misremembered the commonly used
# terminology, for backwards compatibility with my old repos I allow both
'mega_merge()' = "description(regex:'^priv: (mega|meta) merge')"
# short form, this can technically be just `m`, but I'm being cautious because
# that can conflict with change ids potentially
'm()' = "mega_merge()"
# the place from below which we push changes to the remote from
# this is the topmost private commit that is a parent of the current commit
# often this will be a mega_merge(), but it's useful for this to be generalized
'push_point()' = "coalesce(roots(private()) & ::@, @)"
'no_description()' = "description(regex:'^$')"
# commits that would be removed if we left them to edit something else
'ephemeral()' = "no_description() & empty()"
'wip()' = "description(regex:'^wip:.*')"
'unfinished()' = "no_description() | empty() | wip()"
'private()' = "description(regex:'^priv(|ate)[^:]*:.*')"
'unpushable()' = "private() | conflicts() | unfinished()"
'staged()' = 'push_point():: ~ unpushable() ~ @'
'hidden()' = "description(regex:'^[^:]*\\(hidden\\)[^:]*:')"

[template-aliases]
# remove/replace characters from a string that aren't valid in bookmarks/branch
# names
'bookmarkify(str)' = '''
str.trim()
   .replace(regex:"[+\"'`.():]", "")
   .replace(regex:"[ /]", "-")
   .replace(regex:"-{2,}", "-")
   .lower()
'''
# an up to 40 character string that is a valid bookmark name for a change
# produces a bookmark name like devin/factor-listeningchallengeprom/wswz
'change_bookmark' = '''
"devin/"
  ++ bookmarkify(description.first_line()).substr(0, 29)
  ++ "/"
  ++ stringify(change_id).substr(0, 4)
'''

[fix.tools.ormolu]
command = ["ormolu", "--stdin-input-file", "$path"]
patterns = ["glob:'**/*.hs'"]
enabled = false
